

<h2 class="mt-4">README.MD</h2>
Toggle : https://gist.github.com/joyrexus/16041f2426450e73f5df9391f7f7ae5f


<h2>Makefile</h2>
Exemple: https://github.com/TBoileau/key-privilege/blob/develop/Makefile

<h2>Tests</h2>
Grafikart : https://www.youtube.com/watch?v=zfwdc8xRyaI
