

<h2 class="mt-4">README.MD</h2>
Toggle : https://gist.github.com/joyrexus/16041f2426450e73f5df9391f7f7ae5f


<h2>Makefile</h2>
Exemple: https://github.com/TBoileau/key-privilege/blob/develop/Makefile

<h2>Tests</h2>
Grafikart : https://www.youtube.com/watch?v=zfwdc8xRyaI

<h2>Intégration continue</h2>
<br>https://github.com/TBoileau/key-privilege/actions/workflows/continuous_integration.yml
<br>https://docs.wpilib.org/fr/latest/docs/software/basic-programming/robot-code-ci.html

<br>https://openclassrooms.com/fr/courses/5641721-utilisez-git-et-github-pour-vos-projets-de-developpement/6113136-utilisez-le-gitlab-integration-continue-ic
<br>https://openclassrooms.com/fr/courses/4087056-testez-et-suivez-letat-de-votre-application-php/4419481-tp-mettre-en-place-un-outil-dintegration-continue-travis