{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accout{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="example-wrapper">
        <div class="d-flex justify-content-between">        
            <h1>Account </h1>
            <a href="{{ path('app_logout') }}" title="Logout" class="btn btn-secondary my-2">Logout</a>          
        </div>


        {{ form(form) }}

       
       
    </div>
{% endblock %}
