{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accout{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="example-wrapper">
        <h1>Account </h1>

        {% if app.user %}
            Logged as <strong>{{ app.user.email}}</strong>
            <br><a href="{{ path('app_logout') }}" title="Logout">Logout</a>
        {% endif %}

    </div>
{% endblock %}
